<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<link rel="stylesheet" type="text/css" href="global.css">
<title>Whichflix</title>
</head>
<body>
<header>
<h1>Whichflix</h1>
<form name="search" action="." method="post">
Film: <input type="text" name="film" autofocus />
<input type="submit" value="Search" />
</form>
</header>
<div id="content">
<strong>Warning: this service is defunct.</strong>
<p>Netflix and Amazon Instant both offer streaming movie services, but their selections are very different. Search for your favorite films to decide which service is best for you.
<p>Whichflix is <a href="https://raw.github.com/tdeitch/whichflix/master/LICENSE" title="MapsBridge's license">MIT Licensed</a>. Find the code on <a href="https://github.com/tdeitch/whichflix" title="MapsBridge's GitHub">GitHub</a>. Created by <a href="http://tdeitch.com" title="Trey Deitch's homepage">Trey Deitch</a>.</p>
</div>
</body>
</html>